<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lx.ohmyjuus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DIAL_PHONE" /> <!-- For Android 10 -->
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />

            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK" />

            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.CHOOSER" />
        </intent>
    </queries>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_juus"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_juus_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OhMyJuus">
        <activity
            android:name=".PointActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChallengeActivity"
            android:exported="true" />
        <activity
            android:name=".MapActivity"
            android:exported="true" />
        <activity
            android:name=".UpdateMypageActivity"
            android:exported="true" />
        <activity
            android:name=".SignupActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".jubging.JubgingActivity"
            android:exported="true" />
        <activity
            android:name=".jubging.JubFinishActivity"
            android:exported="true"/>
        <activity
            android:name=".CalendarActivity"
            android:exported="true" />
        <activity
            android:name=".jubging.PhotoActivity"
            android:exported="true" />

        <service
            android:name=".jubging.MyService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCV2UdJTEJHLS1HV4nuyGTZgE5BDRbbc5M" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="52687ee17a411663d296e4faf8ac59b3" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>
    </application>

</manifest>